<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs</title>
    
</head>
<body style="background-color: aqua;">
    <h1>Hello Mansi!</h1>
    <h1> <%= fname%> </h1>
    <h1> <%= lname %> </h1>
    <h1> <%= age%> </h1>
    <h1> <%= contact%> </h1>
    <h1> <%= email%> </h1>
    <h1> <%= password%> </h1>
    

</body>
</html>